{% extends "meetup/base.html" %}
{% block content %}
    <h1>About</h1>
    <p>
        The aim of the project is to develop an online platform of a
        recreation system for a smart city, which will help citizens
        choose various activities for them or their children. Their
        choice will be made based on various criteria, such as age
        (for example preschool, 10-12, adults, seniors), type of
        activity (for example sports, arts), proximity to the venue
        (for example at a distance of up to 5 miles), its cost, dates
        and time, etc.
    </p>
    <p>
        The platform will allow users to purchase points for the
        activity they are interested in, by supporting an electronic
        "wallet", which will act as a prepaid card. More specifically,
        the users, will interact with the organizers of the activities,
        and in general the providers of the relevant services
        (playgrounds, gyms, swimming pools, creative employment centers,
        etc.), using the points they keep in their personal wallet,
        based on the respective cost list that is to be determined by
        the organizers / providers.
    </p>
{% endblock content %}