{% extends "meetup/base.html" %}
{% block content %}
    <br>
    <article class="container text-center">
        <div class="card border border-warning rounded">
            <div class="card-header">
                <h3>"{{ object.name }}" Details</h3>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Name:</th>
                        <td scope="row">{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date:</th>
                        <td scope="row">{{ object.date|date:"F d, Y" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description:</th>
                        <td scope="row">{{ object.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Location:</th>
                        <td scope="row">{{ object.location }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price:</th>
                        <td scope="row">{{ object.price }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Capacity:</th>
                        <td scope="row">{{ object.capacity }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Activity:</th>
                        <td scope="row">{{ object.activity_type }}</td>
                    </tr>
					{% if is_organizer %}
                    <tr>
                        <th scope="col">Attendees:</th>
                        <td scope="row">{{ attendees_list }}</td>
                    </tr>
					{% endif %}
                    <tr>
                        <th scope="col">Contact Details:</th>
                        <td scope="row">{{ object.contact_info }}</td>
                    </tr>
                </tbody>
              </table>
        </div>
        <div class="mt-4">
            {% if object.user == user %}
                <a class="btn btn-outline-secondary btm-sm" href="{% url 'event-update' object.id %}">Update Event</a>
                <a class="btn btn-outline-danger btm-sm" href="{% url 'event-delete' object.id %}">Delete Event</a>
            {% endif %}
        </div>
        <br>
    </article>
{% endblock content %}
