{% extends "meetup/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header_scripts %}
	<script src="{% static 'meetup/googleMap.js' %}"></script>
{% endblock header_scripts %}
{% block content %}
	<h3>Find events and register!</h3>
	<div id="map"></div>
	<small><p style="text-align:left;">* = required field</p></small>
	<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-info" type="submit">Register for Event</button>
	</form>
	<!-- Div element for Google Map -->
	<div id="floating-panel">
		<input id="address" type="textbox" value="Enter location" />
		<input id="search" type="button" value="Find events" />
	</div>
{% endblock content %}
{% block footer_scripts %}
	<script>
		var str1 = "https://maps.googleapis.com/maps/api/js?key=";
		var str2 = "&callback=initMap&libraries=&v=weekly";
		var api = new String("{{api_key}}");
		var api_link = str1.concat(api, str2);
	<!-- Async script to load Maps API -->
		var scriptElement = document.createElement("script");
		scriptElement.src = api_link;
		scriptElement.async = "";
		document.head.appendChild(scriptElement);
		const loc = document.getElementById('id_location')
	</script>
{% endblock footer_scripts %}