{% extends 'meetup/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3>Log In</h3>
<small><p style="text-align:left;">* = required field</p></small>
<form method="POST" action="">
    {% csrf_token %} <!-- token required for forms in Django -->
    {{ form.username.label }}
    {{ form.username }}
    <br><br>
    {{ form.password.label }}
    {{ form.password }}
    <br><br>
    <button class="btn btn-outline-info" type="submit">Login</button>
</form>
<div class="border-top pt-3">
    <small class="text-muted">
        Don't Have An Account? <a class="ml-2" href="{% url 'meetup-register-initial' %}">Register</a><br>
        Have An Admin Account? <a class="ml-2" href="{% url 'admin:index' %}">Sign In</a>
    </small>
</div>
{% endblock content %}