{% extends "meetup/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <br>
        <h1 class="mb-4 text-center">Change Your Password</h1>
        <form method="post">
            {% csrf_token %}
            <small><p style="text-align:left;">* = required field</p></small>
            {{ form|crispy }}
            <button class="btn btn-outline-danger btn-lg" type="submit">Change Password</button>
        </form>
        <br>
    </div>
{% endblock content %}