{% extends 'meetup/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!-- token required for forms in Django -->
            <fieldset class="form-group">
                {% if form.last_name %} <!-- Citizen Form -->
                    <legend class="border-bottom mb-4">Create An Citizen Account</legend>
                {% elif form.first_name %} <!-- Organizer Form -->
                    <legend class="border-bottom mb-4">Create An Organizer Account</legend>
                {% else %} <!-- Admin Form -->
                    <legend class="border-bottom mb-4">Create An Admin Account</legend>
                {% endif %}
                <small><p style="text-align:left;">* = required field</p></small>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                {% if form.first_name %}
                    Already Have An Account? <a class="ml-2" href="{% url 'meetup-login' %}">Sign In</a>
                {% else %}
                    Already An Admin? <a class="ml-2" href="{% url 'admin:index' %}">Sign In</a>
                {% endif %}
            </small>
        </div>
    </div>
{% endblock content %}